.spectstory/
.app/
.start_server.py

echo "# ball_practice" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/xinkuansong/ball_practice.git
git push -u origin main